# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
crash.log
terraform.tfvars

# GCP
*.json
!data/*.json

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env

# Airflow
airflow/logs/
airflow/plugins/__pycache__/

# dbt
dbt/target/
dbt/dbt_packages/
dbt/logs/

# Archives
tmp_archives/
output/

# IDE / OS
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db
